@keyframes animate-form{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0px);
    }
}
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.body-container{
    display: flex;
    width:100vw;
    height:100vh;
    background: url(bg.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000088;
    width:30%;
    animation: animate-form 1s;
}
h1{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
}
input,a{
    display:inline-block;
    width:40%;
    height:30px;
    border-radius:25px;
    border:none;
}
input[type="text"]{
    padding:0 15px;
}
input[type="button"]{
    display: block;
    background-color: rgb(13, 192, 22);
    color: #fff;
    width:100%;
    transition: 0.5s;
}
input[type="button"]:hover{
    background-color: rgb(9, 128, 15);
    transition: 0.5s;
}
input:focus{
    outline: none;
}
input:active{
    outline: none;
}
.data{
    width:80%;
    background:#ffffffaa;
    margin:25px auto;
    border-radius: 35px;
    padding: 25px 0;
}
.data > h2{
    color: #000;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    font-weight: 100;
    width:85%;
    margin:20px auto;
    padding: 5px 10px;
    border-radius: 25px;

}
.button-group{
    width:90%;
    display: flex;
    justify-content: space-around;
    margin:auto;
    margin-bottom: 50px;
}
a{
    background-color: rgb(170, 2, 2);
    text-align: center;
    color: #fff;
    padding: 7px 0;
    font-family: arial;
    text-decoration: none;
    font-size: 14px;
}
form{
    display: inline-block;
    width:40%;
}
@media (min-width:614px) and (max-width:1200px){
    .form-container{
        width:60%;
    }
}
@media (max-width:613px){
    .form-container{
        width:100%;
        height: 100%;
    }
    .data{
        width:90%;
        background:#ffffffaa;
        margin:25px auto;
        border-radius: 35px;
        padding: 25px 0;
    }
    .button-group{
        width:90%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        margin:auto;
        margin-bottom: 50px;
    }
    input,a{
        display:inline-block;
        width:100%;
        height:30px;
        border-radius:25px;
        border:none;
    }
    form{
        margin-bottom: 20px;
        width:100%;
    }
}