@keyframes animate-form{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0px);
    }
}
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.body-container{
    display: flex;
    width:100vw;
    height:100vh;
    background: url(bg.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.form-container{
    background-color: #00000088;
    width:30%;
    animation: animate-form 1s;
}
h1{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
}
input{
    display: block;
    width:60%;
    height:30px;
    border-radius:25px;
    margin: 50px auto;
    border:none;
}
input[type="text"]{
    padding:0 15px;
}
input[type="submit"]{
    background-color: rgb(13, 192, 22);
    color: #fff;
    transition: 0.5s;
}
input[type="submit"]:hover{
    background-color: rgb(9, 128, 15);
    transition: 0.5s;
}
input:focus{
    outline: none;
}
input:active{
    outline: none;
}
@media (min-width:614px) and (max-width:1000px){
    h1{
        font-size: 1.5em;
    }
    .form-container{
        width:50%;
    }
}
@media (max-width:613px){
    .form-container{
        width:100%;
    }
    input{
        width:90%;
        height:30px;
        border-radius:25px;
        margin: 50px auto;
        border:none;
    }
}